body{   
    font-family: "Times New Roman", Times, serif;
    /* background-color: rgb(114, 121, 126)!important; */
    background-color: #707070!important;
    background-size: cover!important;    
    min-height: 100vh;      
}   
.bg-black {
  background-color: #707070;
}
.bg-light-opacity {
  /* background-color: rgba(253, 253, 253, 0.753)!important; */
  background-color: rgb(186, 186, 192)!important;
}
.container2 {
  display: flex;
  justify-content: center;
}

.card {
  overflow: hidden;
}

.card2 {
  overflow: hidden;
  /* min-width:100%; */
  width: 120vh;
  padding-left: 0!important;
  margin: 0 auto; /* Add this line to center the card */
}


.navsize{
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    body {
      font-size: 14px;
    }
    /* Adjust layout for smaller screens */
    .container {
      width: 100%;
      padding: 10px;
    }
    .column {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Styles for screens up to 480px wide */
    body {
      font-size: 12px;
    }
    /* Adjust layout for smallest screens */
    .container {
      padding: 5px;
    }
  }
  
  .form{
    width: 350px;
    height: 450px;
    background-color: rgba(41, 39, 39, 0.3);
    box-shadow: 0 5px 30px black;
    max-width: 500px;
    margin: 0 auto;
  }
  .btn button {
    padding: 3px;
    margin: 30px 0px 40px 30px;
    border-style: none;
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
  }
  .formGroup{
    display: flex;
    justify-content: center;
  }
  .formGroup input{
    border: none;
    width: 80%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: white;
  }
  input:focus {
    outline: none !important;
    border-bottom: 2px solid #00ffffc7;
    font-size: 17px;
    font-weight: bold;
    color: white;
  }
  ::placeholder {
    color: white;
  }
  .checkBox{
    display: flex;
    justify-content: center;
    margin: 16px!important;
  }
   
  #checkbox{
    margin-right: 10px;
    height: 15px;
    width: 15px;
  }
  .text{
    color: rgb(199, 197, 197);
    font-size: 13px;
  }
  .btn2{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: #00ffffc7;
    border-style: none;
    color: white;
    font-weight: 600;
  }
  .btn2:hover{
    background-color: #00ffffc7;
  }
  .btn button:hover{
    border-bottom: 2px solid #00ffffc7;
  }
   

.description{
    position: absolute;
    top: 30%;
    left: 50%;
    margin: auto;
    padding: 2em;  
}
.description h1{
 color:#00ffffc7 ;
}
.description p{
 color:#F9F6EE;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #00ffff4d;
 background:#00ffff7c;
 color:#fff;
}
.team{
 margin: 4em 0;
 margin-bottom: 80px;
 position: relative;  
 padding: 4em;
 padding-top: 65%;
 padding-bottom:20%;
}
.team h1{
 color:#00ffffc7;
 margin: 2em; 
}
.team .item{
 position: relative;
}
.team .item:hover{
  animation: pulse 0.5s infinite alternate;
}
.team .des{
 
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 93%;
 
}
.team .item:hover .des{
 height: 100%;
 background: rgba(0, 0, 0, 0.5);
 position: absolute;
 width: 89%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
 animation: pulse 0.5s infinite alternate;
}
.bgframe{
  background: rgba(0, 0, 0, 0.5);
}

@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

/* table */
table, th, td{
    border-collapse: separate;
    border-spacing: 0px;
    margin: auto;
}
table{
    width:50%;
    text-align: center;
}
th{
    background-color: lightgray;
}
td{
    background-color: rgba(248, 248, 255, 0.596);
    vertical-align: middle;
    padding: 5px;
}
td.edit-delete{
  white-space: nowrap;
}

p{
    text-align: center;
    font-size: 5ch;
    color: white;
}

.containerEdit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color:#707070;
  color: white;
}

.formGroup{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* add this */
}

.formGroup label{
  /* margin-bottom: 5px; */
  font-weight: bold;
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

.formGroup select,
.formGroup input{
  border: none;
  width: 100%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

.formGroup select:focus,
.formGroup input:focus {
  outline: none !important;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.btn2{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #00ffff7c;
  border-style: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn2:hover{
  background-color: #00ffff7c;
}

ul.pagination {
  margin: 0;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  margin: 0 5px;
}

ul.pagination li a {
  color: #000;
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}

ul.pagination li a:hover,
ul.pagination li.active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

ul.pagination li:first-child a,
ul.pagination li:last-child a {
  margin: 0;
}

ul.pagination li.disabled a {
  color: #bbb;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ccc;
}

ul.pagination li span {
  color: #bbb;
  display: block;
  padding: 5px 10px;
  text-align: center;
}

select option {
  background-color: #333;
  color: #fff;
}

.headings{
  color: black;
  font-size: 20px;
  /* font-weight: bold; */
}

.button-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userbtn{
  font-size: 10px;
}

.button-cell button {
  margin:auto;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: rgba(253, 253, 253, 0.884)!important;
  margin: 10% auto 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  width: 55%;
  max-width: 400px;
  position: relative;
}

.modal-content2 {
  background-color: rgba(253, 253, 253, 0.884)!important;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  width: 55%;
  /* max-width: 400px; */
  position: relative;
}

.modal-content3 {
  background-color: rgba(253, 253, 253, 0.884)!important;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  width: 55%;
  /* max-width: 400px; */
  position: relative;
  margin: 5% auto 0;
}



/* Close Button */
.close {
  color: #ffffff!important;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255)!important;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: #302c2c;
  color: white;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header2 {
  background-color: #302c2c;
  color: white;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 400px;
  margin: 1% auto 0;
}

.modal-body {
  padding: 20px;
}

.chart-container {
  width: 100%;
  height: 380px;
}

.my-button {
  background-color: #00ffff36;
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #00ffff7c;
}

.my-button:active {
  background-color: #00ffff7c;
  transform: translateY(2px);
}

.headings-cstm{
  font-size: 15px;
}

#search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cardr-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cardr {
  --border-radius: 0.75rem;
  --primary-color: #7257fa;
  --secondary-color: #3c3852;
  width: 210px;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.cardr > * + * {
  margin-top: 1.1em;
}

.cardr .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.cardr .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.cardr .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.cardbutton {
  position: absolute;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: none;
  bottom: 0;
  margin: 0.3rem;
}

.cardbutton.accept {
  right: 0;
}

.cardbutton.reject {
  left: 0;
}

.request-box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px; /* Adjust the width as needed */
  float: left;
  clear: left;
}

.request-box__title {
  font-size: 18px;
  margin-bottom: 5px;
}

.request-box__content {
  font-size: 14px;
  color: #666;
}





